body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.btn{
    height: 100px;
    width: 100px;
    margin: 8px;
}

.btn:hover{
    background-color: lightgrey;
    border: 1px solid black;
}

.number,
.operators,
#decimal,
#equal,
#clear,
#screen{
    border: 1px solid black;
}

.row-one{
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen{
    height: 100px;
    width: 350px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 25px;
}

#prev-values,
#curr-values{
    margin: 6px;
}